body {
    background-color: #f5e4ff;
}

#page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head ""nav  main""nav  foot";
    grid-template-rows: 70px 1fr 30px;
    grid-template-columns: 200px 1fr
}

#page>header {
    grid-area: head;
    background-color: #FFF;
    z-index: 1;
  

}

#page>nav {
    grid-area: nav;
    background-color: #2276E3;
    border-radius: 1%
}

#page>main {
    grid-area: main;
    background-color: #F5F5F5;
    border-radius: 1%
}

#page>footer {
    grid-area: foot;
    border-radius: 1%
}

.navbar {
    width: 100%
}

.navbar-brand {
    float: left
}

.navbar-brand-logo {
    margin: 20px
}


.nav-item {
    list-style: none;

    background-color: #fff;
    border: 1.5px solid #FFF;
    border-radius: 5px;
    padding: 1px 5px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer
}

.nav-link {
    text-decoration: none;
    color: rgb(51, 40, 26)
}

.navbar-nav {
    float: left;
    margin-top: 35px;
    margin-left: 1px;
    padding-left: 0
}

.navbar-pull-right {
    float: right;
    margin-right: 10px;
    margin-top: 35px
}



.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 110px
}

.sidebar li {
    list-style-type: none
}

.sidebar a {
    padding: 8px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block
}

.sidebar a:hover {
    color: #f1f1f1
}
 
#loggedIn {
    margin-top: 48px;
    margin-left: 80%;
}
.foodheader {
    text-align: center;
}
/* -------foodlist------------- */

.foodListAdm caption{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}


.foodListAdm table,
tr,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

.foodListAdm {
    margin-top: 10%;
    margin-left: 1%;
    border-collapse: collapse;

}
.foodList-img{
    width: 30%;
    margin-left: 40%;

}


/* ----------------addfood------------------- */
.add-food-section {
    margin-top: 15%;
}

.add-food-section h2 {
    text-align: center;
}

.add-food-section form {
    margin: 4% 35%;
    background-color: #f3e8f9;
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 4px;
    box-shadow: 0 0 2px #9D52C4;
    font-size: 18px;
    padding-bottom: 2%;
}

.add-food-section form>input {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 90%;
    height: 35px;
    border: 1px solid white;
}

.add-food-section form>button {
    background-color: green;
    color: white;
    font-size: 15px;
    border: none;
    padding: 3% 41%;
    text-align: center;
    margin: 5% auto;
}
.add-food-section form>button a{

text-decoration: none;
color: white;
}


/* listuser */

.listFoodheader {
    text-align: center;
    margin-top: 15%;
    font-size: 20px;
}
.listFoodAdm {
    margin-top: 5%;
    margin-left: 25%;
    border-collapse: collapse;

}
.listFoodAdm th,td{
    margin-top: 50%;
}

/* --------welcome--------- */
.welcome {
    
    color: black;
    margin-top: 100px;

} 

