
 button{ 
    margin: 0px auto;
    background-color: none;
    color: inherit;
    border: none;
    padding: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit;  
}
body{  
    background-image: url("images/wallpaper.jpg");
}  
 .header{
        background-color: antiquewhite;
        text-decoration:none;
        
        
        }
        
.header a {
        
        padding:50%; 
        border-radius: 10px;
        background-color:rgb(59, 12, 12);
        color:white;
        padding: 10px 20px;
        font-size: 19px;
        cursor: pointer;
        float: right;

         }
        .btn  { margin: 0px auto;
            background-color: none;
            color: inherit;
            border: none;
            padding: 0px;
            font: inherit;
            cursor: pointer;
            outline: inherit;
    
             }
          .foodlogo {
                width: 20%;
                height: 20%;
                /* display: inline; */
                float: left;
                }

          .header_h1{
            color: blanchedalmond;
        }
 .navlink{
     padding: 0.5%;
     text-decoration: none;
     color: blanchedalmond;
     font-size: 30px;
 }

 .navlink:hover {
     background-color: chocolate;
 }
 .navlink:focus, .navlink:active {
     background-color: cornsilk;
     transition: none;
 }
 .sign_submit {
    float:center;
 }
 form{
     margin:45px 500px 100px 500px;
     border: 1px solid burlywood;
     padding:15px; 
     background-color:burlywood;
 }
 .content{
 color: blanchedalmond;   
 }
.vegimg{
    float: left;
    padding: 2%;

}
 .Ordernow { 
     float: left;
}

    

    


