/* ----------------Header----------------- */

* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
   background-color: #FFFFFF; 
    position: fixed;
    top: 0;
   color: black; 
}

.navbar-brand {
    float: left;
    color: black;
}

.navbar-brand-logo {
    margin: 10px ;
    padding-left: 20px;

}

.navbar-nav .nav-item {
    list-style: none;
    
    border-radius: 5px; 
    padding: 1px 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 5px 3px;
    cursor: pointer;
    color: black;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar-nav {
    
    float: left;
    margin-top: 3%;
    margin-left: 35%;
    color: black;
}

.navbar-itembtn1 a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar-itembtn2 a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar-itembtn1 {
    padding: 0px 18px;
    position: absolute;
    top: 40px;
    right: 6%;
    margin-right: 60px;
}

.navbar-itembtn2 {
    padding: 0px 20px 0px 20px;
    position: absolute;
    right: 2%;
    margin: 40px 10px 5px 3px; 
}
/*-------------searchbar----------------------- */

.searchContainer {
    position: absolute;
    top: 15%;
    display: inline;
     margin-left: 10%;
    padding: 20px 30px;

    

}

.searchContainer img {
    position: absolute;
    right: 12%;
    top: 38%;
   
   
}

.searchContainer input[type=text] {
    text-align: center;
    padding: 10px 70px;
    border-radius: 7px;
    border: 2px solid black;
    
    
}
.searchbar{
    width: 6%;
 }
 


/*--------------- slider----------------- */

.slideshow_container 
{
    
    max-width: 100%;
    
    }
 .slideshow_container img
  {
    height: 100%;
    width: 100%;
    
} 
/*---------- how it work section------------- */
.icon-page{
    background-color: thistle;
    
}
.icon-page h2{
    text-align: center;
}
.searchicon-img{
    float: left;
    margin-left: 25%;
    margin-bottom: 10%;
    

}
.searchicon-img button{
    margin-left: 40%;
    padding: 2%;
    
}
.chooseicon-img{
    float: left;
    margin-left: 2%;
    }
.chooseicon-img  button{
    margin-right: 2%;

}

 
.payicon-img{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
.payicon-img img
{
margin-right: 10%;
}
.enjoyicon-img{
    float: right;
    margin-left: 20%;

}
.enjoyicon-img img{
    
}



    


/* --------------category----------------- */

  .catg {
     
    text-align: center;
}

.card-veg {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box; 
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 20%;
    height: 30%;
    margin-left: 20%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-bottom: 0;
    padding-left: 30%;
}

.card-veg img {
    vertical-align: middle;
    border-style: none;
}

.card-veg body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-veg body p {
    margin-top: 0;
    
}

.card-veg .card-btn {
    border-radius: 5px;
    background-color: #9D53C4;
    padding: 2% 10% 5%;
    margin-left: 35%;
    margin-bottom: 15%;
}

.card-nonveg .nonveg-btn {
    border-radius: 5px;
    background-color: #9D53C4;
    padding: 2% 10% 5%;
    margin-left: 35%;
    margin-bottom: 15%;
}

.card-veg button a,
.card-nonveg button a {
     color: #FFFFFF;
    text-decoration: none;
    font-size: 18px; 


    
}

.card-nonveg {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
 background-color: #fff;

    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-left: 60%;
    width: 20%;
    height: 30%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.card-nonveg .card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-bottom: 0;
    padding-left: 30%;
}

.card-nonveg img {
    vertical-align: middle;
    border-style: none;
}

.card-nonveg p {
    flex: 1 1 auto;
    padding: 1rem;
}

.card-nonveg button {
    margin-left: 40%;
    margin-bottom: 20%;
}

.card-body p {
    margin-top: 0;
    margin-bottom: 1rem;
} */

.footer {
   margin-top: 20%;
   display: flex;
   margin-left: 40%;
}

 
/*------------------------- vegimage------------------*/
 .category {
   margin:100px 2px;
   /* margin-right: 20px; */

} 
.veg-category{
    margin-top: 10%;
    text-align: center;
}


.card img {
    width: 100%;
    height: 100%;
     margin:5% 10%;
    
} 

.card h4,
p {
    text-align: center;
    padding: 2px;
}

.card a {
    text-decoration: none;
    color: white;
}

.card button {
    
    border: none;
    border-radius: 5px;
    background-color:#9D53C4 ;
     margin-left: 45px;
    margin-top: 10px; 
    padding: 10px 20px; 
}

/* all form */

form {
    margin: 2% 35%;
    background-color: #f3e8f9;
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 4px;
    box-shadow: 0 0 2px #9D52C4;
    font-size: 18px;
    padding-bottom: 2%;
}

form input[type=email], 
form input[type=password], 
form input[type=text], 
form input[type=textarea],
form input[type=tel],
form input[type=date],
form input[type=time]

{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 90%;
    height: 35px;
    border: 1px solid white;
}

form>button {
    background-color: green;
    color: white;
    font-size: 15px;
    border: none;
    padding: 3% 41%;
    text-align: center;
    margin-top: 5%;
}
.place-order-btn{
    padding-right:33% ;
}
.cancel-btn a{
    text-decoration: none;
    color: white;
}

.forgot-password {
    margin-left: 30%;
}


/*-----------------subheading-----------------*/

.subheading {
    text-align: center;
    font-size: 18px;
    color: black;
    margin-top: 150px;
}


/* images align */

.vegimg {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}

.nonvegimg {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}


/* ----------------cart table ------------ */
.cart-item{
margin-bottom: 20px;
font-size: 20px;
}
.cart-item tr {
    text-align: left;
}
.totalRow{
    text-align: left;
}
.net-amount{
    text-align: right;
}

.add-cart-section {
    margin-top: 13%;
    margin-left: 20%;
}

.add-cart-section h2 {
    margin-bottom: 10px;
    margin-left: 25%;
    
}
.add-cart-section table{

    border-collapse: collapse;
}

.add-cart-section thead, th,
td 
{
    border: 1px solid grey;
    padding: 10px 40px;
    
 }

.carttable tfoot td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.order-btn {
    
   

    border: none;
    border-radius: 5px;
    background-color:#9D53C4 ;
     margin-left: 45px;
 
    padding: 10px 20px; 



}

.add-cart-section .order-btn a {
    color:#FFFFFF;
    text-decoration: none;
}

.shop-button {
     display: inline-block;
    margin-left: 25%;
     padding: 10px; 

    border: none;
    border-radius: 5px;
    /* background-color:#9D53C4 ; */
   
    border: 0.2px solid black;
     margin-top: 4%;


    
}

.shop-button  a {
    text-decoration: none;
    color: #9D53C4;


    }
    .shop-button:hover{
        background-color: #9D53C4;
        
    }
.shop-button a:hover{
  color: white;

}


/*----------------vegimage horizontal align-------------- */

.cat {
    margin-left: 95px;
    margin-top: 100px;
}

.cat h2 {
    text-align: center;
    padding-right: 80px;
}



.product-box {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}

.productContainer {
    margin-left: 150px;
    margin-right: 20px;
}

.card {

    box-shadow: 0 4px 8px 0 #888888;
    transition: 0.8s;
    width: 15%;
    border-radius: 2px;
    float: left;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 20px;
    padding: 2% 1%;
    
}
.card:nth-child(1) {
    margin-left: 3.5%;
}

.card img {
    width: 80%;
    border-radius: 5px 5px 0 0;
}

.card h4,
p {
    text-align: center;
    padding: 4px;
}

.card a {
    text-decoration: none;
    color: white;
}
/*-------------- my order-------------- */
.table-content{
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    
    border-collapse: collapse;
}
.table-content .table-head{
   
    margin: 2%;
}





