button{ 
    margin: 0px auto;
    background-color: none;
    color: inherit;
    border: none;
    padding: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit;  
}
.header-class {
     /* display: inline-block; */
    /* width: 20%; */
    position: absolute;
      left:300px; 
     right: 600px;
}

.foodlogo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
 }

 .header_h1{
    padding-bottom: 0;
    margin-bottom: 3%;
 }


.navlink{
    
    padding: 10px;
    text-decoration: none;
    color: grey; 
    font-size: 30px;
 }

 
 .navlink:hover {
     background-color: chocolate;
 }
 
 .navlink:focus, .navlink:active {
     background-color: cornsilk;
     transition: none;
 }
 
 .sign_submit {
    float:center;
 }
 
 form{
     margin: 100px 500px 100px 500px;
     border: 4px solid burlywood;
     padding:20px; 
     background-color:burlywood;
 }
 .content{
 color: black;  
  
 }

.nonvegimg{
   
    width:150px;
    height:150px;

}
.vegimg{
    
    width:150px;
    height:150px;
}




.reg{
    text-align :center;
    color: brown;
    border:3px brown;
    margin-top: 100px;
}  


.order-button
{
  text-decoration: none;

}
.carttable {
  font-family: arial, sans-serif;
  color: brown;
  border-collapse: collapse;
  width: 10px;
}

.carttable td, th {
  border: 1px solid burlywood;
  color: brown;
  text-align: left;
  padding: 10px;
}

/* index page  */

.category {
    width: 400px;
    height: 200px;
    /* background-color:#FEFFE2; */
    position: absolute;
    top: 40%;
    left: 37%;
    border-radius: 10px;

}


.vegdiv
   {  
       justify-content: center; 
       flex-wrap: wrap; 
       margin-top: 30px;
}

 .nonvegdiv1{
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top:30px ;
 }
   
.Nonveg{
    position :absolute;
    top: 25%;
    left: 55%;
    width:100px;
    height:100px;
}

.veg {
    position :absolute;
    top: 25%;
    left: 20%;
    width:100px;
    height:100px;
}




    

    


